<?xml version="1.0"?>
<web-app>
	<filter>
		<filter-name>Guice Filter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Guice Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.hl7.ContextListener</listener-class>
	</listener>
	<context-param>
		<param-name>M2H-ER7-port</param-name>
		<param-value>2575</param-value>
	</context-param>
	<context-param>
		<param-name>M2H-HTTP-URL</param-name>
		<param-value>http://localhost:8080/http</param-value>
	</context-param>
	<context-param>
		<param-name>H2M-ER7-port</param-name>
		<param-value>2576</param-value>
	</context-param>
		<context-param>
		<param-name>H2M-ER7-host</param-name>
		<param-value>localhost</param-value>
	</context-param>
</web-app>
